@model List<UserModel>

@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
   <div class="card-header">
      @ViewBag.Accion
   </div>
   <div class="card-body">
       <a  class="btn btn-success" asp-action="Usuario" asp-controller="Home" asp-route-idUsuario="0">Nuevo Usuario</a>
       <hr />

        <table class="table bg-dark text-white text-center">
            <thead class="text-center">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Número Telefónico</th>
                    <th>Lugar de nacimiento</th>
                    <th>Acciones</th>
                </tr>
           </thead>
           <tbody>
                @foreach(var usuario in Model)
                {
                    <tr>
                        <td>#</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Email</td>
                        <td>Número Telefónico</td>
                        <td>Lugar de nacimiento</td>
                        <td>
                            <a asp-action="Usuario" asp-controller="Home" asp-route-idUsuario="@usuario.Id" class="btn btn-primary btn-sm">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Home" asp-route-id="@usuario.Id" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
   </div>
</div>